# Dependencies
.dart_tool/
.build/
# Logs and temp files
*.log
*.tmp
# Environment
.env
.env.local
.env.
# Coverage
coverage/
# Compiled and build artifacts
*.so
*.dylib
*.dll
*.exe
*.out
# Distribution
dist/
release/
build/

# Examples can be found in https://github.com/github/gitignore/blob/main/Dart.gitignore