```
# Build artifacts
build/
*.apk
*.aar
*.so
*.dex

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
*.iml
.externalNativeBuild
.cxx
captures/
.code-workspace

# Keystore properties
*.keystore
*.jks

# Log files
*.log
```